.header-container {
    height:800px;
    position:relative;
background-image: url(../src/assets/images/bg.png);

background-size: cover;
}
.header-container::after{
    height:800px;
    content:' ';
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    background-color: #d4d8e1;;
    z-index: -50;
}